a {
  text-decoration: none !important;
  color: #fff;
}

a:hover {
  color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.dropdown-menu {
  left: -50px !important;
}

.dropdown-item:hover {
  color: #111 !important;
  background-color: inherit;
}

.card img {
  height: 350px;
}
